body{

    margin:0;
}

header{

    background-color:rgb(207, 202, 202);
    padding:0px;

    input{

        border: 1px solid black;
        padding:5px;
        font-style:inherit;
        font-weight: inherit;
        font-size: inherit;
        border-radius: 4px;
    }
}