@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
html{

    background-color:rgb(116, 104, 104);
    background-image:linear-gradient(rgba(0, 255, 213, 0.1), rgba(0, 255, 42, 0.4)),url(../images/ocean.jpg);
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
background-attachment:fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;


}
body{

    text-align:center;
    color:white;
    font-size:55px;
    

    
}



#container{
    width:100%;
    border-radius:0px;
    border:none;
    
}

div{

    border:5px inset rgba(0, 255, 213, 0.5);
    background-color: transparentize($color: #dfdfdf, $amount: .6);
    width:200px;
    height:200px;
    border-radius: 15px;
    

    a{
        text-decoration: none;

    }
    h3{

        font-size: 15px;
        a{

            color:aqua;
            
        }
        a:hover{

            color:white;
            //background-color: transparentize($color: black, $amount: .6);
        }
    }
    h1{

        font-size:25px;

        a{

            
            color:whitesmoke;
            
        }
        a:hover{
            color:aquamarine;
            
            
            //background-color: transparentize($color: black, $amount: .8);
        }
    }
    

}


nav{

    border-bottom: 5px solid white;
    border-radius: 0 0px 10px 10px;
    height:50px;
    width: 100%;
    background-color:transparentize($color: #dfdfdf, $amount: .3);
    font-size:40px;
    padding:5px;
    text-align:left;
    margin:0px;
    position:fixed;
    top:0px;
    left:0px;
    
    
}


main{
    position: relative;

    width:1000px;
    height:800px;
    border: 5px solid white;
    margin:auto;
    border-radius: 1px 1px 1px 1px;
    text-align:center;
    background-color:transparentize($color: #dfdfdf, $amount: .3);
    
}

// i{
//     position: absolute;
//     //animation-name: skills;
//     //animation: spinner 5s 1 linear;
    
// }




// @keyframes spinner {
//     from {
//       transform: translateX(0%) rotate(0deg);
//     }
//     to {
//       transform: translateX(0%) rotate(360deg);
//     }

    
//   }

footer{

    
    border: 5px solid white;
    border-radius: 1px 1px 12px 12px;
    height:50px;
    width:990px;
    margin:auto;
    background-color:transparentize($color: #dfdfdf, $amount: .3);
    font-size:40px;
    padding:5px;
    text-align:center;

    a{
        color:white;
        
    }
    a:hover{

       
        font-size:55px;
        color:rgb(29, 236, 209);
        
    }

}
