@import url("https://use.fontawesome.com/releases/v5.0.8/css/all.css");
html{

    background-color:rgb(116, 104, 104);
    background-image:linear-gradient(rgba(0, 255, 213, 0.1), rgba(0, 255, 42, 0.4)),url(../images/ocean.jpg);
	height:100%;
	background-repeat:no-repeat;
	background-position:center center;
background-attachment:fixed;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;


}
body{

    text-align:center;
    color:white;
    font-size:55px;
    

    
}



#container{
    width:100%;
    border-radius:0px;
    border:none;
    position: relative;
    
}

div{


    border:5px inset rgba(0, 255, 213, 0.5);
    background-color: transparentize($color: #dfdfdf, $amount: .6);
    width:35vw;
    height:239px;
    border-radius: 1px 1px 1px 1px;
    //padding:1px;
    

    a{
        text-decoration: none;

    }
    h3{

        font-size: 20px;
        a{

            color:white;
            text-shadow:1px 1px 18px 5px;
            
        }
        a:hover{

            color:rgb(21, 226, 141);
            //background-color: transparentize($color: black, $amount: .6);
        }
    }
    h1{

        font-size:25px;

        a{

            
            color:whitesmoke;
            text-shadow:1px 1px 18px 5px;
            
        }
        a:hover{
            color:aquamarine;
            
            
            //background-color: transparentize($color: black, $amount: .8);
        }
    }
    

}


nav{

    border: 5px solid white;
    border-radius: 12px 12px 1px 1px;
    height:50px;
    width:80.9vw;
    margin:auto;
    background-color:transparentize($color: #dfdfdf, $amount: .3);
    font-size:40px;
    padding:5px;
    text-align:left;
    a{

        color:whitesmoke;
    }
    a:hover{

        color:rgb(29, 236, 209);
        
        
    }
    i{

        position: relative;
        animation: alternate;
    }
}
#lefttop{

   // position: absolute;
    //left:3px;
    //top:3px;
    background-image:linear-gradient(rgba(0, 255, 213, 0.1), rgba(0, 255, 42, 0.1)),url(../images/Fields.jpg) ;
	background-repeat:no-repeat;
	background-position: center;
    align-self:flex-start;
    background-size: cover;
}

#righttop{

   // position: absolute;;
   // right:3px;
   // top:3px;
   //flex-wrap: nowrap;
   align-self:flex-start;
}
#leftbottom{

   // position:absolute;
    //left:3px;
   // bottom:3px;
   //flex-wrap: nowrap;
   align-self:flex-end;
}
#rightbottom{
    //flex-wrap: nowrap;
   // position:absolute;
    //right:3px;
    //bottom:3px;
    font-size:20px;
    background-image:linear-gradient(rgba(0, 255, 213, 0.1), rgba(0, 255, 42, 0.1)),url(../images/featured.png) ;
	background-repeat:no-repeat;
	background-position: center;
    background-size: cover;
    align-self:flex-end;
}

#center{
    //position:absolute;
    align-self: center;
    width:7vw;
    


   
    //bottom:80px;
   // right:440px;
    height:800px;
   
    background-image:linear-gradient(rgba(0, 255, 213, 0.3), rgba(0, 255, 42, 0.2)),url(../images/mi.jpg) ;
	
	background-repeat:no-repeat;
	background-position: center;

    background-size: cover;

i{

    position: relative;
    animation: alternate;
    font-size:30px;
}


}
main{
    position: relative ;
    flex-wrap:wrap;
    width:81.7vw;
    height:500px;
    border: 5px solid white;
    margin:auto;
    border-radius: 1px 1px 12px 12px;
    text-align:center;
    display:flex;
    flex-direction: column;
    
    i{

        position: relative;
        animation: alternate;
        font-size:30px;
    }
    
}
i{
    position: absolute;
    //animation-name: skills;
    animation: spinner 3s 1 linear;
    
}




@keyframes spinner {
    from {
      transform: translateX(0%) rotate(0deg);
    }
    to {
      transform: translateX(0%) rotate(360deg);
    }

    
  }
